<p id="notice"><%= notice %></p>

<p>
  <strong>Placa:</strong>
  <%= @automovil.placa %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @automovil.tipo %>
</p>

<p>
  <strong>Color:</strong>
  <%= @automovil.color %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @automovil.modelo %>
</p>

<p>
  <strong>Cilindraje:</strong>
  <%= @automovil.cilindraje %>
</p>

<%= link_to 'Edit', edit_automovil_path(@automovil) %> |
<%= link_to 'Back', automovils_path %>
