<%= form_with(model: libro, local: true) do |form| %>
  <% if libro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(libro.errors.count, "error") %> prohibited this libro from being saved:</h2>

      <ul>
      <% libro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :isbn %>
    <%= form.text_field :isbn, id: :libro_isbn %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :libro_nombre %>
  </div>

  <div class="field">
    <%= form.label :autor %>
    <%= form.text_field :autor, id: :libro_autor %>
  </div>

  <div class="field">
    <%= form.label :genero %>
    <%= form.text_field :genero, id: :libro_genero %>
  </div>

  <div class="field">
    <%= form.label :editoria %>
    <%= form.text_field :editoria, id: :libro_editoria %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
