<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn:</strong>
  <%= @libro.isbn %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @libro.nombre %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @libro.autor %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @libro.genero %>
</p>

<p>
  <strong>Editoria:</strong>
  <%= @libro.editoria %>
</p>

<%= link_to 'Edit', edit_libro_path(@libro) %> |
<%= link_to 'Back', libros_path %>
